fastapi==0.109.0
uvicorn[standard]==0.27.0
python-jose[cryptography]==3.3.0
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
mysql-connector-python==8.2.0
python-dotenv==1.0.0
email-validator
cloudinary==1.36.0
# Use pydantic version that ships prebuilt binaries (wheels)
pydantic>=2.7
pydantic-settings==2.1.0
